{% extends 'pages/base.html' %}

{% block content %}



<h3>Test</h3>


<br>
<a href="{% url 'test_dev' %}">Test Dev</a>

<br>
<br>
<a href="{% url 'test_tacna' %}">Test Tacna</a>

<br>
<br>
<a href="{% url 'test_lima' %}">Test Lima</a>



<br>
<br>





<!--
<br>
<a href="{% url 'test_sales' %}">Test Sales</a>


<br>
<br>
<a href="{% url 'test_mgt' %}">Test Management Repo</a>


<br>
<br>
<a href="{% url 'test_mgt_repo' 1 %}">Test Management Dev</a>

<br>
<br>
<a href="{% url 'test_mgt_repo' 2 %}">Test Management Docean</a>

<br>
<br>
<a href="{% url 'test_mgt_repo' 3 %}">Test Management Tacna</a>

-->




{% endblock %}
