{% extends 'pages/base.html' %}

{% block content %}



<h3>Management</h3>
<br>


<div class="container">

	<ul class="list-group">

		<!-- Loop -->
		{% for repo in repos %}
		
			<li class="list-group-item">

				<!-- Row -->
				<div class="row">

					<div class="col-sm-2">
						{{repo}}
					</div>

					<div class="col-sm-2">
						{{repo.date_update}}
					</div>

					<div class="col-sm-2">
						{{repo.date}}
					</div>


					<div class="col-sm-2">
						{{repo.configurator}}
					</div>


					<div class="col-sm-1">
						{{repo.total}}
					</div>


					<div class="col-sm-1">
						{{repo.state}}
					</div>

					<div class="col-sm-1">
						{{repo.state_value}}
					</div>


					<div class="col-sm-1">
						{{repo.content_value|floatformat}}
					</div>
				</div>
			</li>

		{% endfor %}
	</ul>
</div>


{% endblock %}
